@import "tailwindcss";

button {
    background: rgb(57, 102, 249);
    color: white;
    border-radius: 3rem ;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2px;
}